*{
    /* border: 1px solid red; */
    box-sizing: border-box;
    font-family: 'Anek Telugu';
}
body{
    /* background-color: #f4eee0; */
    /* background-color: #fff9de; */
    /* background-color: #e6ebe0; */
    background-color: #f2f1d0;
    font-family:Arial, Helvetica, sans-serif;
    
    margin: auto 0;  /* remove space from edges */
    
}
.main-sec{
    display:flex;
    flex-direction: column;
    width:50%;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
    background-color: #fbfbf1;
    color:#631818;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}
.cform{
    width:80%;
    margin: auto;
    /* align-self: center; */
}
.ban{
    width:100%;
    max-width:700px;
}
.ban img{
    width:100%;
    height:auto;
}
.book-title{
    font-size: 30px;
    padding: 2px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    /* color: #373F3D; */
    color:#631818;
    width: 100%;
    /* background-color: #AFA58A; */
    font-family: Cormorant Upright;
    font-weight: bold;
}
.payments{
    margin-left:10px;
}
.col1{
    float: left;
    width: 50%;
    margin-bottom:5px;
}
.col2{
    float: left;
    width: 50%;
    /* margin-left:5px; */
    padding-left: 8px;
    margin-bottom:5px;
}
.row{
    margin-right:-50px;
    margin-left: 10px;
}
.row::after{
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 900px) {
    .col1, .col2, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

input{
    border:none;
    /* box-shadow: 0 0 5px rgba(81, 203, 238, 1); */
    padding-left:10px;
    font-size: 16px;
    margin-left:5px;
    background-color: inherit;
}
.name{
    font-size: 18px;
}
.txt{
    font-size:14px;
    font-style: italic;
}
.buttons{
    width: 100%;
    /* padding: 15px; */
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-evenly;
    /* align-items: center; */
    column-gap: 5px;
}
.buttons button{
    /* border: 1px solid rgb(111, 46, 57); */
    display: inline-block;
    width: 30%;
    min-width:80px;
    border-radius: 5px;
    padding: 9px;
    margin: 0 2px;
    font-size: 15px;
    /* text-align: center; */
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #f2f1d0;
    color: #631818;
    border: 1px solid #eb9482;
}
.buttons button:hover{
    background-color: #c9190f;
    color: #f2f1d0;
}
.con-sec{
    width: 50%;
    /* background-image: url('/images/gallery/picture1.jpg');
    background-repeat: no-repeat;
    background-position: center center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    /* background-color: aqua; */
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.confirm-text{
    
    font-size:25px;
    margin: auto;
    margin-top: 7px;
}
.details{
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px red;
}
.cent{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
} 
.view a{
    display: inline-block;
    /* border:1px solid black; */
    width:150px;
    height:40px;
    max-height:40px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #eb9482;
    border-radius: 4px;
    outline: none;
    /* vertical-align: middle; */
    padding-top:10px;
    color: #631818;
    /* color: #f2f1d0; */
    background-color: #f2f1d0;
    /* margin: auto; */
}
.view{
    margin:auto;
    margin-top: 10px;
}
.view a:hover{
    background-color: #eb9482;
    color: #f2f1d0;
}
.confirm-img{
    /* background-color: darkgrey; */
    width:100%;
    margin: auto;
    /* height:120px; */
    /* height:25vh; */
}
.confirm-img img{
    width: 100%;
    height:auto;
    margin: auto;
    margin-bottom:-10px;
}
.date{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.det{
    display: flex;
    flex-direction: column;
}
.note{
    font-size: 15px;
    text-align: center;
    margin-top:15px;
}
.note a{
    text-decoration: none;
    color:#c9190f
}