footer{
    color:#fafafa;
    /* background-color: #373F3D; */
    /* background-color: #222228; */
    background-color: #631818;
    margin-top: 30px;
}
.footr{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fafafa;
    margin-top: 10px;
}
#footer-logo{
    width: 30%;
    margin-left: 20px;
}
#footer-logo p{
    text-align: center;
    /* padding-left: 5px; */
    /* padding-left: 10px; */
    margin: auto;
    margin-top: 10px;
    /* margin-left: 20px; */
}
.footr1{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.footr1 ul{
    list-style-type: none;
}
.discover{
    display:flex;
    flex-direction: column;
    align-content: space-around;
}

.discover a{
    display: block;
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    color:#eb9482;
}
.discover #disc, .cont{
    padding-bottom: 5px;
    font-size: 20px;
}
.contact{
    display:flex;
    flex-direction: column;
    align-content: space-around;
    /* border: 1px solid red; */
}
.contact #cont{
    padding-bottom: 10px;
    font-size: 20px;
}
.contact img{
    padding-right: 2px;
    /* border: 1px solid red; */
    margin-bottom: -7px;
    width:28px;
}
.contact-detail{
    margin-top: -2px;
    /* color: white */
}
.contact li{
    padding-bottom: 2px;

    /* margin-bottom: 2px; */
}
#footer-logo{
    /* margin-right: -50px; */
}